/*
    Variables
*/

$white: hsl(0,0%,98%);
$md-gray: hsl(0,0%,41%);
$black: hsl(0,0%,8%);

/*
    Import google font Overpass
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 1px red solid
}

/*
  Remove default margin, padding
*/
* {
    margin: 0;
    padding: 0;
}

/*
  Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

// Animations
@keyframes growDown {
  0% {

    transform: scaleY(0)
  }

  80% {

    transform: scaleY(1.1)
  }

  100% {

    transform: scaleY(1)
  }

}

// Composition

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: $md-gray;
  background-color: $white;
}

header {
  display: flex;
}


button {
  background-color: transparent;
  color: $md-gray;
  border: none;
}

ul {
  list-style: none;
}

.logo {
  margin-right: 4rem;
}


.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: $md-gray;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    color: $black;
  }
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  position: relative;
}

.dropdown-content {
  position: absolute;
  top:calc(100% + 0.5rem)
}

// BUTTONS

.btn-fill{
  background-color: $black;
  color: $white;
  border: 2px transparent solid;
  &:hover {
    background-color: transparent;
    border-color: $black;
    color: $black;
  }
}

.btn-outline{
  border: 2px $md-gray solid;
  &:hover {
    border-color: $black;
    color: $black;
  }
}

.btn-light {
  color: $md-gray;
  &:hover {
    color: $black;
  }
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}

